<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task Form</title>
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script th:src="@{/webjars/bootstrap/3.4.1/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.min.css}">
</head>
<body>
<div class="container" style="padding-top: 5%;">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading">Task Unit Form <p style="float: right" th:text="${loggedUsername}"/></div>
            <div class="panel-body">

                <!--/*@thymesVar id="task" type="com.huawei.todo.dto.v1.TaskUnitDto"*/-->
                <form th:action="@{'/user/tasks/'+${taskId}+'/save'}" th:object="${taskUnit}" method="POST">

                    <input type="hidden" th:field="*{id}" />



                    <input type="text" th:field="*{name}" style="margin-bottom: 25px"
                           class="form-control mb-4 col-4" placeholder="task unit name">

                    <textarea th:field="*{description}" style="margin-bottom: 25px" class="form-control mb-4 col-4" rows="2" placeholder="description"/>

                    <select class="form-control mb-4 col-4" style="margin-bottom: 25px" th:field="*{status}">
                        <option value="Status" disabled>Status</option>
                        <option th:value="'Not Complete'" th:text="'Not Complete'"/>
                        <option th:if="${showOtherOptions}" th:value="'Complete'" th:text="'Complete'"/>
                        <option th:if="${showOtherOptions}" th:value="'Expired'" th:text="'Expired'"/>
                    </select>

                    <div style="margin-bottom: 25px" >
                        <label>Deadline</label>
                        <input type='date'  th:field="*{deadline}" />
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    </div>

                    <select style="margin-bottom: 25px" class="form-control mb-4 col-4"  th:field="*{parentTaskUnitId}">
                        <option value="Choose Parent Task Unit" disabled>Choose Parent Task Unit</option>
                        <option th:each="candidateParentTaskUnitId : ${parentTaskUnits}"  th:value="${candidateParentTaskUnitId.id}" th:text="${candidateParentTaskUnitId.name}"/>
                    </select>

                    <button type="submit" class="btn btn-primary btn-sm col-2">Save</button>

                </form>

                <hr>

                <p><a th:href="@{'/user/tasks/'+${taskId}+''}">Back To Task Unit List</a>
                    <a th:href="@{/logout}" style="float: right" class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-log-out"></span> Log out
                    </a></p>

            </div>
        </div>
    </div>
</div>


</body>
</html>